
 {% extends "base.html" %}
 {% load static %}
 {% load postman_tags %}
<link rel='stylesheet' href='{% static "account/styles.css" %}'>
 {% block content %}     
    <section id='showcase'>
        <div class='container'>
           <h2>Ywala Housing Helps You Find a Room or Apartment in a Minute</h2><br>
           <form method='get' action='{% url "searchme" %}'>
                <input type='text' name='q' placeholder="Enter Search Keyword" value='{{ request.get.q }}' id='intry' style="color:#000000">
                <input type='submit' value='Search' class='button_1' id='sub1'>
            </form>
        </div>
        
        
        </section>
    <section id='dashshowcase'>
        
        <div class='dashcontainer1' style="text-align:center" id='dmenu1'>
                <div class='dmenu'>
                    {% postman_unread as unread_count %}
                    {% if unread_count == 1 %}
                    <div class='alert alert-success'>
                       <a style='color:#666666' href='{% url "postman:inbox" %}'>You have <strong>{{ unread_count }}</strong> unread message.</a> 
                    </div>
                    {% elif unread_count > 1  %}
                    <div class='alert alert-success'>
                           <a style='color:#666666' href='{% url "postman:inbox" %}'>You have <strong>{{ unread_count }}</strong> unread messages.</a>
                    </div>
                    {% endif %}
                    <div class='row'>
                            <div class='col-sm-4'  id='dase'>
                                <span class='glyphicon glyphicon-inbox' aria-hidden="true" style="color: #286da8"></span>
                                <h3>Inbox</h3>
                                <p>Have a perfect overview of all your conversations! Favourite, archive, filter and use search to manage your dialogues</p>
                               <a href='{% url "postman:inbox" %}'><button class='button_1' id='sub1'>Go to Inbox</button></a>
                            </div>
            
                            <div class='col-sm-4' id='dase'>
                                <span class='glyphicon glyphicon-pencil' aria-hidden="true" style="color: #286da8"></span>
                                <h3>Your Listing</h3>
                                <p>Manage existing listing, create new ones, list and unlist them in one click! Instant access with flexible filtering and search!</p>
                                <a href='{% url "userlist" %}'><button class='button_1' id='sub1'>Manage Listing</button></a>
                            </div>
            
                            <div class='col-sm-4' id='dase'>
                                <span class='glyphicon glyphicon-cog' aria-hidden="true" style="color: #286da8"></span>
                                <h3>Your Profile</h3>
                                <p>Make sure people know who you are so that they can trust you. Add your information and don’t forget to include a picture</p>
                                <a href='{% url "edit" %}'><button class='button_1' id='sub1'>Edit Profile</button></a>
                            </div>
                        </div>
                        <hr style='border-color:#494e6b; border-width: 1px'>
                </div>
                <div class='help'>
                        <h3>HELP US IMPROVE YWALA.COM!</h3>
                         <p>We take your feedback seriously. More exciting features and improvements are on their way. You can help us by telling us your suggestions on what we should improve. Anything you want to share with us?</p>
                         <a href='{% url "contact" %}'> <button class='button_1' id='sub1'>Send us a Message</button></a>
                      </div>
            </div>
           
    </section>
    {%  endblock %}